{{define "content"}}

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Error </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="/">Dashboard</a></li>
                        <li class="active">Not Found</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div >

        <div  style="margin-left: 20px; padding: 10px; margin-top: 30px ">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="hero-unit center" style="text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;">
                            <h1>Page Not Found <small><font face="Tahoma" color="red">Error 404</font></small></h1>
                            <br />
                            <p>The page you requested could not be found, either contact admin of website(<a href="mailto:anshul.jindal@tum.de" style="color: #00aced">Anshul Jindal</a>) or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
                            <p><b>Or you could just press this neat little button:</b></p>
                            <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
                        </div>
                        <!-- By ConnerT HTML & CSS Enthusiast -->
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>


</div>


</div><!-- /#right-panel -->


{{end}}
